<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click To Join</title>
</head>
<body>
    <form method="post" action="/user/join">
        <h3>Enter your email : </h3></h1><textarea name="email" placeholder="Enter Your email"></textarea><br><br>
        <h3>Enter your Username : </h3><input type="text" name="username" placeholder="Enter your username"><br><br>
        <h3>Enter your Password : </h3><input type="password" name="password" placeholder="Enter Password"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>