<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>

<body>
    <h2>You are about to delete the user which email is : <%= user.email%>
    </h2>
    <form method="post" action="/user/<%=user.id%>?_method=Delete">
        <h3 name="username"> User name is : [  <%= user.username%>  ]</h3>
        <br>
        <input type="password" name="password" placeholder="Enter password ">
        <br>
        <br>
        <button>Delete</button>
    </form>
</body>

</html>